body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg,#667eea,#764ba2);
  margin: 0;
  color: white;
}

.container {
  width: 90%;
  margin: auto;
  padding: 20px;
}

nav {
  padding:15px;
  background:rgba(0,0,0,0.3);
  display:flex;
  justify-content:space-between;
}

.card {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
  transition:0.3s;
}

.card:hover { transform: scale(1.02); }

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
}

button {
  background: #ff7a18;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

img {
  border-radius:50%;
  margin-top:10px;
}
