<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/style.css">
  <title>Alumni Login</title>
</head>
<body>
<nav>
  <h2>CampusConnect 🎓</h2>
</nav>

<div class="container">
  <div class="card">
    <h2>Alumni Login</h2>
    <form method="POST">
      <input type="email" name="email" placeholder="Enter Email" required>
      <input type="password" name="password" placeholder="Enter Password" required>
      <button type="submit">Login</button>
    </form>
    <p>New Alumni? <a href="/alumni/register" style="color:white;">Register Here</a></p>
  </div>
</div>
</body>
</html>
