<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/style.css">
  <title>Alumni Register</title>
</head>
<body>
<nav>
  <h2>CampusConnect 🎓</h2>
</nav>

<div class="container">
  <div class="card">
    <h2>Alumni Registration</h2>
    <form method="POST">
      <input type="text" name="name" placeholder="Full Name" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="text" name="company" placeholder="Company" required>
      <input type="text" name="job_role" placeholder="Job Role" required>
      <input type="text" name="experience" placeholder="Experience (e.g., 2 Years)" required>
      <button type="submit">Register</button>
    </form>
  </div>
</div>
</body>
</html>
